.app-container {
  text-align: center;
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.battle-arena {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.pokemon-img {
  width: 120px;
  height: 120px;
}

/* HEALTH BAR STYLE */
.hp-bar-container {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0; /* Abu-abu */
  border-radius: 10px;
  overflow: hidden;
  margin-top: 5px;
}

.hp-bar-fill {
  height: 100%;
  background-color: #4caf50; /* Hijau */
  transition: width 0.5s ease-out; /* Animasi gerak */
}

.attack-btn {
  background-color: #ff4757;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.heal-btn {
  background-color: #eec627;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
}



.attack-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reset-btn {
  background-color: #2ed573;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}